h2 {
    border:1px solid #CCC;
    position: relative;
}

ul.li{
        margin-right: 20px; /* Justera avståndet mellan listelementen om så önskas */
}

table,td {
  border: 1px solid #333;
}

table,th{
    border: 1px solid #333;
}

#hoger{
    text-align: right;
}

div{
    display: flex;
    align-items: center;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}