p {
    background-color: red;

}

.container {
    background-color: green;
}

#main {
    background-color: blue;
}

div {
    height: 300px;
    width: 400px;
    border: 1px solid grey;
    border-radius: 15px;
}