* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 75px auto 75px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn sb sb"
    "ft ft ft ft ft ft ft ft ft"
    ;
}

.header {
    grid-area: hd;
}

.footer {
    grid-area: ft;
}

.sidebar {
    grid-area: sb;
}

.el {
    background-color: rgb(27, 165, 80);
    color: #fff;
    display: grid;
    place-content: center;
}

.sidebar {
    grid: sd;
    background-color: blue;
}


.container {
    grid-area: mn;
    padding: 0.5rem;
    padding-left: 0;
    display: grid;
/*    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-columns: 100px 200px 100px; */
    grid-template-columns: repeat(2, 1fr 1fr);
    grid-auto-rows: minmax(200px, auto);
    row-gap: 1rem;
    column-gap: 0.5rem;
    gap: 1rem 0.5rem;
}

.box {
    background-color: black;
    color: aliceblue;
    padding: 0.5rem; 
}

.box:first-child {
    display: grid;
    background-color: blue;
    place-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.box:nth-child(2) {
    background-color: purple;
    grid-column: 1/5;
    grid-row: 2/3;
    grid-column-start: 1;
    grid-column-end: 5;
}

.box:nth-child(6) {
    display: grid;
    background-color: blue;
    place-content: center;
    grid-column-start: 3;
    grid-column-end: 5;
}